{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'displayCategory' %}" method="post" class="my-3">
        {% csrf_token %}
        <label for="category">Category</label>
        <select class="form-select form-select-sm" name="category">
            {% for category in categories %}
                <option value="{{category}}">{{category}}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-warning">Search</button>
    </form>
    <div class="row">
        {% for listing in listings %}
            <div class="card" style="width: 18rem;">
                <img src="{{ listing.imageUrl }}" class="card-img-top" alt="{{listing.title}}" id="img-marigin" height="200px">
                <div class="card-body">
                <h5 class="card-title">{{listing}}</h5>
                <p class="card-text">{{listing.description}}</p>
                <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
                </div>
            </div><br>
        {% endfor %}
    </div>
{% endblock %}